<mat-accordion>
    <mat-expansion-panel *ngFor = "let city of cities">
    <mat-expansion-panel-header>
        <mat-panel-title>
            City Name:
            {{city.name}}
        </mat-panel-title>
        <mat-panel-description>
            Temperture:
            {{(weatherData$ | async)?.temperature | number:'1.0-0'}}º
        </mat-panel-description>
        <mat-panel-description>
            Humidity:
            {{city.humidity}}
        </mat-panel-description>
        <mat-panel-description>
            Icon:
            <img [src]="city.image">
        </mat-panel-description>
        <button mat-raised-button color="warn" (click)="getData(city.cityName)">
            Get data
        </button>
        <button mat-raised-button (click)="predict()"  *ngIf = "!dataButton && predictButton">
            Predict
        </button>
        <button mat-raised-button (click)="addCity()"  *ngIf = "!predictButton">
            Save
        </button>
        <button mat-raised-button (click)="addCity()"  *ngIf = "!savetButton && !predictButton">
            Get new data
        </button>
    </mat-expansion-panel-header>
    </mat-expansion-panel>
    </mat-accordion>
